{
    "printWidth": 80,
    "tabWidth": 2,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "endOfLine": "lf",
    "parser": "typescript",
    "proseWrap": "always",
    "quoteProps": "as-needed",
    "overrides": [
      {
        "files": "*.ts",
        "options": {
          "parser": "typescript"
        }
      }
    ]
  }
  